html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  color: #444444;
  cursor: default;
}

h1, h2, h3 {
  font-weight: 300;
  letter-spacing: 2px;
}

h1 {font-size: 35px;}
h2 {font-size: 30px;}
h3 {font-size: 25px;}

h2 {
  margin: 0 0 80px 0;
}

a {
  color: #2c6ccc;
  text-decoration: none;
}

a:hover {
  color: #349ced;
  text-decoration: underline;
}

p {
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 30px;
}

footer {
  margin-top: 50px;
  text-align: center;
}

footer > p {
  color: #8c8c8c;
  font-size: 18px;
}

/* Full Page */
.full-page {
  display: table;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.container {
  width: 70%;
  margin: auto;
}

/* Collection */
.collection {
  margin: 60px 0 30px 0;
  text-align: center;
}

.collection-gallery {
  display: inline-table;
  width: 100%;
  text-align: center;
}

.collection-item {
  display: inline-block;
  padding: 15px;
}

.item-image {
  border: 1px #dadada solid;
  border-radius: 3px;
}


.image-thumbnail {
  width: 350px;
  height: 240px;
  margin: 4px 4px 0 4px;
}

.item-name {
  margin-top: 10px;
  text-align: center;
}

/* Footer */
.footer-container {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.footer-content {
  padding: 20px 0 80px 0;
}

.footer-content,
.footer-content a {
  font-size: 24px;
  color: #7c7c7c;
}

/* Background */
.bg-texture {
  background: url('../img/bg/cream_pixels.png');
}

/* Responsive */
@media(max-width: 1150px) {
  .container {
    width: 80%;
  }
}

@media(max-width: 890px) {
  .image-thumbnail {
    width: 250px;
    height: 160px;
  }
}

@media(max-width: 640px) {
  body {text-align: center;}
  h2 {margin: 0 0 50px 0;}
  p, a {font-size: 17px;}
  .explanation {
    text-align: justify;
  }
  .collection-item {
    display: inline-block;
    padding: 15px 0 15px 0;
  }
  .footer-container {
    width: 80%;
  }
}
