body {
  margin: 60px 0 0 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  color: #444444;
  cursor: default;
}

h1, h2, h3 {
  letter-spacing: 2px;
}

h3 {
  margin-top: 40px;
}

a {
  color: #2c6ccc;
  text-decoration: none;
}

a:hover {
  color: #349ced;
  text-decoration: underline;
}

p, a {
  font-size: 21px;
  letter-spacing: 1px;
}

.content-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 50px;
  text-align: center;
}

footer > p {
  color: #8c8c8c;
  font-size: 18px;
}

/* Collection */
.collection-gallery {
  display: inline-table;
}

.collection-item {
  display: inline-block;
  padding: 15px;
}

.item-image {
  border: 1px #dadada solid;
  border-radius: 3px;
}

.image-thumbnail {
  width: 350px;
  height: 240px;
  margin: 4px 4px 0px 4px;
}

.item-name {
  margin-top: 10px;
  text-align: center;
}


/* Responsive */
@media(max-width: 786px) {
  .content-wrapper {
    width: 80%;
  }
  .image-thumbnail {
    width: 250px;
    height: 160px;
  }
}
